@use '../../scss/variables';

.field {
    background-color: #fff;
    background-image: url('../../assets/imgs/game_background_Black_White.webp');
    position: relative;
    width: 100%;
    height: variables.$fieldHeight;
}