@use "../../scss/variables";

$sideSpace: 0.75rem;

.shortNav {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: variables.$shortNavHeight;
    background-color: variables.$grey-dark;
    display: flex;
    justify-content: space-between;
}

.langControl {
    width: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: $sideSpace;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem $sideSpace;
}

.homeIcon {
    fill: variables.$white;
}