// game colors

$backgroundColor: #148056c9;
$goGreenColor: #72a102;
$red: #FF003C;
$orange: #FF8A00;
$infoColor: #00C176;
$grey: #888888;
$grey-light: #c5c5c5;
$grey-dark: #5f5f5f;
$black: #2f2f2f;
$white: #f1f1f1;

// measures
$fieldHeight: 500px;
$shortNavHeight: 56px;

:export {
    goGreen: $goGreenColor;
    red: $red;
    orange: $orange;
    grey: $grey;
    greyDark: $grey-dark;
}