@use '../../scss/variables';

.button {
    font-style: normal;
    text-transform: uppercase;
    font-size: 1.25rem;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 8px;
    color: variables.$white;
    background: variables.$grey;
    padding: 0.5rem 1rem;
    font-weight: 700;
    cursor: pointer;

    &:hover {
        transform: translate(0, 1px);
    }
}